.forms {
    
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: black;
    

    
        
        form {
            
            border:1px solid blue;
            display: flex;
            flex-direction: column;
           width: 100%;
           height: 100%;
            align-items: center;
            justify-content: space-around;
            border-radius: 8px;
            
            .text {
                background-color: antiquewhite;
                height: 100%;
                width: 100%;
                width: 2;
                
            }
        }
}